<div class="container">
    <div class="btns">
        <button [routerLink]="['/task-one']">
            <span class="material-symbols-outlined">
                data_array
            </span>
            Task One
        </button>
        <button [routerLink]="['/task-two']">
            <span class="material-symbols-outlined">
                data_object
            </span>
            Task Two
        </button>
        <button [routerLink]="['/task-three']">
            <span class="material-symbols-outlined">
                code
            </span>
            Task Three
        </button>
    </div>
</div>
<router-outlet></router-outlet>
