.wrapper {
  flex-direction: column;
  height: 80vh;
  gap: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    gap: 12px;
  }

  span {
    box-shadow: 0px 2px 4px rgb(232, 232, 232);
    font-weight: 600;
    font-size: 28px;
    padding: 16px;
    border-radius: 8px;
    background-color: rgb(238, 238, 238);
  }
  p {
    font-size: 18px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 4px;
    padding: 4px 8px;
  }
}
.added {
  background-color: #84c2a2 !important;
  color: #fefefe;
}

.shuffle {
  margin-top: 16px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    span {
      font-size: 18px;
      padding: 8px 12px;
    }
  }
}
